{% block content %}
    <section class="py-4">
        <div class="container">
            <h2 class="fw-bold text-center mb-3 fs-4">
                ePackage-1 eCourse Registration Instructions
            </h2>

            <div class="p-4 bg-white shadow rounded">
                <div>
                    The MSF ePackage-1 eCourse must be completed before attending your scheduled class. Clicking on the
                    button at the bottom of this page will redirect you to the Motorcycle Safety Foundation website to
                    register and begin the eCourse.
                </div>

                <div class="mt-3">
                    Please follow the instructions below to register and begin the ePackage-1 eCourse.
                </div>

                <div class="mt-3">
                    To waive the $39.99 registration fee, you MUST enroll in the online eCourse using the button below.
                    The course fee will be $0.00 if you use the unique link.
                </div>

                <ul class="list-group list-group-numbered">
                    <li class="list-group-item border-0">
                        Enter your Student Information in the required fields.
                    </li>

                    <li class="list-group-item border-0">
                        Click Enroll Student at the bottom of the page.
                    </li>

                    <li class="list-group-item border-0">
                        If you have entered all required enrollment information, near the bottom of the page you will
                        see a message in light green that says, "Temporary enrollee successfully added…."
                    </li>

                    <li class="list-group-item border-0">
                        Scroll down to the Waiver(s) and Indemnification(s).
                    </li>

                    <li class="list-group-item border-0 fw-bold text-danger">
                        IF YOU ARE ASKED TO MAKE A CREDIT CARD PAYMENT, STOP!

                        <div>
                            The fee is $0.00 when you register using the link below. MSF does NOT provide refunds if
                            you use your credit card instead of your enrollment link.
                        </div>
                    </li>

                    <li class="list-group-item border-0">
                        Read the Student Release(s) in full by scrolling to the bottom of the inset document, then check
                        the I Accept box. The checkbox will not activate until you have scrolled to the end of the
                        release.
                    </li>

                    <li class="list-group-item border-0">
                        Enter your email address in both required confirmation fields and click Complete Registration.
                    </li>

                    <li class="list-group-item border-0">
                        Read the information on the reservation confirmation screen and double-check the email address
                        in the Student Fees section.
                    </li>
                </ul>

                <div class="mt-2">
                    The course is designed to save your progress and allow you to complete it over multiple sessions.
                </div>

                <div class="mt-2">
                    Upon completion, you will be redirected to the course menu page (with the red “Click Here” button).
                    Scroll down and click Completion Certificate. Email your completion certificate to

                    <a href="mailto:ecourse@bikertraining.com"
                       class="text-decoration-none">
                        ecourse@bikertraining.com
                    </a>
                </div>

                <div class="mt-3 fw-bold">
                    Contacting MSF Support
                </div>

                <div class="mt-3">
                    MSF (Motorcycle Safety Foundation) can be reached by calling

                    <a href="tel:9497273227"
                       class="text-decoration-none">
                        949-727-3227 option 1
                    </a> - (Leave a voicemail if they do not answer!)

                    <div>
                        Monday – Friday 8:30 am – 5:00 pm Pacific Time
                    </div>

                    <div>
                        Closed weekends and major holidays.
                    </div>

                    <div>
                        OR by emailing

                        <a href="mailto:msfsupport@msf-usa.org"
                           class="text-decoration-none">
                            msfsupport@msf-usa.org
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}