{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq10"
                    aria-expanded="false"
                    aria-controls="faq10">
                Can I use my own motorcycle in the course?
            </button>
        </h2>

        <div id="faq10"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                For the Basic RiderCourse and Kickstart course, students will use our training motorcycles. For the
                3-Wheeled Basic RiderCourse and the Skilled RiderCourse students can use their own motorcycles.

                <div class="mt-3">
                    Students who plan on only riding a scooter (not a moped), can bring their own bike to use during
                    the Basic RiderCourse. However, this must be pre-approved and will need to be in good working
                    order and comply with all state laws for safety requirements to be safely operated on a public
                    roadway. You must also provide proof of ownership, insurance, and registration. You will be held
                    personally and financially liable for any damages done to or by your machine.
                </div>
            </div>
        </div>
    </div>
{% endblock %}