{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq19"
                    aria-expanded="false"
                    aria-controls="faq19">
                How long is the endorsement certificate we receive good for?
            </button>
        </h2>

        <div id="faq19"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                After successful completion of the class, you'll receive a certificate which is only valid for
                <span class="fw-bold">one year</span> from the date printed. If you do not get the motorcycle
                endorsement on your driver's license within that one year, you must retake the class to earn another
                certificate. Most states adhere to this but they may have other requirements or change their
                policies without notice. Please check with your local DMV office for official information.
            </div>
        </div>
    </div>
{% endblock %}