{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq11"
                    aria-expanded="false"
                    aria-controls="faq11">
                I don't have a 3-Wheeled motorcycle, can one be provided?
            </button>
        </h2>

        <div id="faq11"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                There are limited options available. Please call us for the latest information.
            </div>
        </div>
    </div>
{% endblock %}