{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq18"
                    aria-expanded="false"
                    aria-controls="faq18">
                What is the ePackage-1 eCourse?
            </button>
        </h2>

        <div id="faq18"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                The MSF ePackage-1 eCourse is a highly interactive 5-hour online program that provides riders of all
                skill levels with the basics of motorcycling. With integrated graphics, photos and video to
                illustrate the lessons, and allows you to control the pace of your learning. Please note that the
                ePackage-1 eCourse alone is NOT accepted as a license waiver by any state's department of motor
                vehicles, or as a license to ride a motorcycle or as a learner’s permit.
            </div>
        </div>
    </div>
{% endblock %}