{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq12"
                    aria-expanded="false"
                    aria-controls="faq12">
                What defines a 3-Wheeled motorcycle?
            </button>
        </h2>

        <div id="faq12"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                A 3-Wheel motorcycle <span class="fw-bold">must</span> meet the following requirements:

                <ul class="list-group list-group-numbered mt-3">
                    <li class="list-group-item border-0">
                        Three-track wheel orientation (leaves three separate tracks during straight-line operation).
                        Dual wheels may be in the front or rear.
                    </li>

                    <li class="list-group-item border-0">
                        Motorcycle-based conversion or design. Handlebar steering Motorcycle-type controls arranged
                        with the standard convention (convenience alterations such as a single brake pedal or lever
                        control, automatic clutch, or automatic transmission are allowed), Saddle seating, Seating
                        causes rider/passenger to straddle vehicle. If designed for a passenger, passenger must be
                        seated behind operator.
                    </li>

                    <li class="list-group-item border-0">
                        Turning diameter of the vehicle at its widest point must be less than 40 feet.
                    </li>

                    <li class="list-group-item border-0">
                        The vehicle must meet all applicable federal/state on-road vehicle standards.
                    </li>

                    <li class="list-group-item border-0">
                        Under no circumstances will vehicles with the following designs characteristics be allowed
                        in the 3WBRC: Automotive hybrids or automotive conversions, vehicles with automotive
                        controls or seating, vehicles with rear or front mounted engines (engines must be mounted
                        midframe below the rider), vehicles with enclosed or semi-enclosed riding compartments, any
                        other significant departure from the standard motorcycle design.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}