{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq17"
                    aria-expanded="false"
                    aria-controls="faq17">
                Is there any pre-course material?
            </button>
        </h2>

        <div id="faq17"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                The ePackage-1 eCourse is a requirement prior to taking the BRC or 3-wheel BRC.

                <div class="mt-3">
                    Once you have registered for a class we will email you a unique link to complete the 5-hour
                    online ePackage-1 eCourse.
                </div>

                <div class="mt-3">
                    After successful completion of the eCourse you'll receive a certificate which is good for 30
                    days. If the certificate is older than 30 days you must retake the online eCourse to earn a new
                    certificate.
                </div>
            </div>
        </div>
    </div>
{% endblock %}