{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq13"
                    aria-expanded="false"
                    aria-controls="faq13">
                How do you get the motorcycle endorsement on my driver's license after the class?
            </button>
        </h2>

        <div id="faq13"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                At the end of the class you will receive a completion card. Take this card along with your current
                Florida Driver's License and about $40 to your Tax Collector (DMV) office and they will issue you a
                brand-new driver's license with the endorsement.

                <div class="mt-3">
                    Be aware that Florida may issue you a new license number if you do not currently have the new
                    format.
                </div>
            </div>
        </div>
    </div>
{% endblock %}