{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq16"
                    aria-expanded="false"
                    aria-controls="faq16">
                What if I am late or miss part of the class?
            </button>
        </h2>

        <div id="faq16"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                Learning to ride a motorcycle requires skill progression. This progression begins with small tasks
                and builds to larger, more complex tasks. It is critical that students arrive on time. Preferably,
                come early! If you miss a class or range session, you will not be allowed to complete the course and
                will have to purchase another seat in a later class.
            </div>
        </div>
    </div>
{% endblock %}