{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq2"
                    aria-expanded="false"
                    aria-controls="faq2">
                Where are the classes taught?
            </button>
        </h2>

        <div id="faq2"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                Pensacola Harley-Davidson<br> 6385 Pensacola Blvd<br> Pensacola, Florida<br> 32505
            </div>
        </div>
    </div>
{% endblock %}