{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq3"
                    aria-expanded="false"
                    aria-controls="faq3">
                How much are the courses?
            </button>
        </h2>

        <div id="faq3"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                All the courses we offer and prices can be found on our

                <a href="{% url 'client-courses-index' %}"
                   class="text-decoration-none">
                    courses page.
                </a>
            </div>
        </div>
    </div>
{% endblock %}