{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq5"
                    aria-expanded="false"
                    aria-controls="faq5">
                What type of equipment am I required to bring?
            </button>
        </h2>

        <div id="faq5"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                You will be responsible to bring the following:

                <ul class="list-group list-group-numbered mt-3">
                    <li class="list-group-item border-0">
                        <span class="fw-bold">Over the ankle sturdy footwear.</span> It is required to wear shoes
                        that fully cover your ankle. Shoes or boots with a large heel or steel toe make it
                        increasingly difficult to shift, especially for women.
                    </li>

                    <li class="list-group-item border-0">
                        Long pants made out of sturdy materials. No spandex or sweatpants.
                    </li>

                    <li class="list-group-item border-0">
                        Long sleeve shirt or jacket. Light colors work best when it's hot outside.
                    </li>

                    <li class="list-group-item border-0">
                        <span class="fw-bold">Full fingered</span> gloves.
                    </li>

                    <li class="list-group-item border-0">
                        <span class="fw-bold">D.O.T</span> helmet. Can be any type of helmet so long as it meets the
                        D.O.T standards.
                    </li>

                    <li class="list-group-item border-0">
                        Eye protection. Prescription glasses and sun glasses are considered eye protection for the
                        purpose of this course. A helmet visor also meets the requirements.
                    </li>

                    <li class="list-group-item border-0">
                        As it may rain, it's recommended to have motorcycle rain gear or consider bringing a change
                        of clothes.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}