{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq6"
                    aria-expanded="false"
                    aria-controls="faq6">
                Will the class be canceled if it rains?
            </button>
        </h2>

        <div id="faq6"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                No, we will ride in the rain just as you would in real-life.
            </div>
        </div>
    </div>
{% endblock %}