{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq7"
                    aria-expanded="false"
                    aria-controls="faq7">
                How old do I have to be?
            </button>
        </h2>

        <div id="faq7"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                Students must be 16 years of age and have at least a learners permit. If you have a learners permit,
                you can take the class but you will not be allowed to get your motorcycle endorsement at the DMV
                unless you've had the learners permit for at least 1-year.

                <div class="mt-3">
                    You can bypass the 1-year restriction by attaining a driver's license.
                </div>
            </div>
        </div>
    </div>
{% endblock %}