{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq8"
                    aria-expanded="false"
                    aria-controls="faq8">
                What type of motorcycles do you use?
            </button>
        </h2>

        <div id="faq8"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                We use the Harley-Davidson Street 500 motorcycle the Harley-Davidson x350RA. Each motorcycle is
                lightweight and easy to operate.
            </div>
        </div>
    </div>
{% endblock %}