{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq9"
                    aria-expanded="false"
                    aria-controls="faq9">
                I'm concerned about my height and/or weight.
            </button>
        </h2>

        <div id="faq9"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                We have several different seats available for all sizes of students. If you would like to try having
                a seat on one of our training bikes prior to the class please give us a call to set up a date and time.
            </div>
        </div>
    </div>
{% endblock %}