{% extends "client/base.html" %}

{% load get_business_phone %}

{% block content %}
    <!-- Hero (Dark) -->
    <section class="bg-dark text-white">
        <div class="container py-3">
            <h1 class="fw-bold fs-3">
                Class Full
            </h1>

            <div class="lead mt-3">
                Thank you for your interest in one of our motorcycle courses.
            </div>
        </div>
    </section>

    <section class="py-5 bg-light">
        <div class="container">
            <div class="mb-3">
                Unfortunately, the class you selected is full. If there was an open seat when you tried to register,
                it's likely that someone else was just faster at registering and has taken that last seat.
            </div>

            <div class="mt-3 fw-bold text-danger">
                Your credit card has not been charged.
            </div>

            <div class="mt-3">
                Please take a look at
                <a href="{% url 'client-schedule-index' %}"
                   class="text-decoration-none">
                    our schedule
                </a>
                to see if there are any other classes available.
            </div>

            <div class="mt-3">
                We have added you to our Waiting List but if you have any questions please call or text us at

                <a href="tel:{% get_business_phone True %}"
                   class="text-decoration-none">
                    {% get_business_phone False %}
                </a>
            </div>
        </div>
    </section>
{% endblock %}