{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row g-4">
                <!-- 5.1 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <div class="text-dark">
                            "Shout out to Coach Steve. Super talented and professional. Made the class fun and still
                            implemented his material/skills very well. If I could do it again I would."
                        </div>

                        <div class="fw-bold mt-2">
                            - Gregory
                        </div>
                    </div>
                </div>

                <!-- 5.2 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "Sam & Ken are outstanding instructors and shared a lot of very practical motorcycle safety
                            experiences with us. Always ready to answer questions and ensuring all had a good grasp of
                            things. Well done."
                        </p>

                        <div class="fw-bold mt-2">
                            - G.H.
                        </div>
                    </div>
                </div>

                <!-- 5.3 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "A great experience! The teachers are a class act and as helpful as can be. My puppies HATE
                            motorcycles so they kept a close eye on the action as you can see in my pic! I give this one
                            my world famous two clapps and double thumbs up!"
                        </p>

                        <div class="fw-bold mt-2">
                            - Anthony
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}