{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row g-4">
                <!-- 9.1 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <div class="text-dark">
                            "Great coaches and teachings of the basics."
                        </div>

                        <div class="fw-bold mt-2">
                            - Evan
                        </div>
                    </div>
                </div>

                <!-- 9.2 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "Excellent training with phenomenally intelligent coaches"
                        </p>

                        <div class="fw-bold mt-2">
                            - Tonia
                        </div>
                    </div>
                </div>

                <!-- 9.3 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "It was amazing coaches are the best you have fun and learn !!!!"
                        </p>

                        <div class="fw-bold mt-2">
                            - Noah
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}