{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row g-4">
                <!-- 7.1 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <div class="text-dark">
                            "Steve and Sammy made us at ease. If it weren’t for the good humor, it would’ve been a
                            boring course! All kidding aside, they helped us in areas that we were weak in, and guided
                            us to improve our techniques. PS…DC was a sweetheart!"
                        </div>

                        <div class="fw-bold mt-2">
                            - Peggy
                        </div>
                    </div>
                </div>

                <!-- 7.2 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "I enjoyed the course and how well Steve and Sammy worked together with us. I’ve been riding
                            for 18 years on motorcycles and ole guys can learn different things. Thank you"
                        </p>

                        <div class="fw-bold mt-2">
                            - Dennis
                        </div>
                    </div>
                </div>

                <!-- 7.3 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "Had an amazing experience learning the Brc course. The instructors were very helpful and
                            very professional. As rider with experiences and crashes I would highly recommend anyone
                            take this course if they have not. This course will open your eyes when ridding and
                            potential save your life!"
                        </p>

                        <div class="fw-bold mt-2">
                            - Kyle
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}