{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row g-4">
                <!-- 3.1 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <div class="text-dark">
                            "As someone who had never been on a motorcycle, this class was perfect. Dennis,
                            Steven, and Sammie were very knowledgeable, friendly, and patient. Dennis and
                            Steven were the main course instructors. They have a great rapport with each
                            other, and quickly develop one with the class. While I made some mistakes here
                            and there due to my lack of knowledge, they NEVER made me feel incompetent or
                            discouraged. They were good with constructive criticism mixed with encouragement
                            for the next attempt. They got excited and cheer when you do maneuvers
                            correctly. You can truly see their love for riding and it translates into their
                            teaching. I highly recommend this class for anyone looking to get their
                            motorcycle endorsement to build a strong foundation."
                        </div>

                        <div class="fw-bold mt-2">
                            - Daniel
                        </div>
                    </div>
                </div>

                <!-- 3.2 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "Absolutely worth every penny and minute! I came into the class with zero
                            motorcycle knowledge or skill and a head full of anxiety about riding. I left
                            with the knowledge and basic skills to safely and confidently ride a motorcycle.
                            I can't wait to get out and ride! The Riding Coaches were outstanding! They were
                            patient and supportive! The class was a lot of fun too! It could be stressing at
                            times, especially with being completely new to riding but the coaches helped me
                            with techniques that made every evolution easier. From basic operation up to
                            more complex maneuvering. If you want to begin riding and have any apprehension
                            about it. TAKE THE CLASS!"
                        </p>

                        <div class="fw-bold mt-2">
                            - Michael
                        </div>
                    </div>
                </div>

                <!-- 3.3 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "Recently attended this course and I have to say it is worth EVERY PENNY! Sammie
                            and Mark do an excellent service teaching both new and experienced riders things
                            they really need to know. Now that ive taken this course I am comfortable
                            beginning to ride on my own and with others where as prior to the training I was
                            not. If you are on the fence about taking this riders course let this review put
                            you at ease , Its Worth It! Thanks guys!"
                        </p>

                        <div class="fw-bold mt-2">
                            - Robert
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}