{% block content %}
    <section class="py-5 bg-dark">
        <div class="container">
            <div class="row g-4">
                <!-- 6.1 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <div class="text-dark">
                            "Absolutely loved our coaches, Steven and Shawn!! The class was very interesting and
                            informative with safety always being number one. The riding part of the class was
                            challenging and educational. Would not recommend changing anything."
                        </div>

                        <div class="fw-bold mt-2">
                            - Tammy
                        </div>
                    </div>
                </div>

                <!-- 6.2 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "Best 5 hours I have spent learning and honing key skills, like turns, feathering clutch,
                            tight maneuvers, etc. Rode away more confident but humbled by how much more I need to learn.
                            Half day of growth! Great job guys!! Made some great new riding buddies too."
                        </p>

                        <div class="fw-bold mt-2">
                            - Phillip
                        </div>
                    </div>
                </div>

                <!-- 6.3 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "Came in a complete beginner with only a couple hours on my own bike in my neighborhood.
                            These guys got me 10x more confident about being on the road. Very fun way to spend the
                            weekend."
                        </p>

                        <div class="fw-bold mt-2">
                            - Austin
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}