{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row g-4">
                <!-- 11.1 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <div class="text-dark">
                            "Great instructors! I highly recommend their courses."
                        </div>

                        <div class="fw-bold mt-2">
                            - Robert
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}