{% block content %}
    <section class="py-5 bg-dark">
        <div class="container">
            <div class="row g-4">
                <!-- 2.1 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <div class="text-dark">
                            "Had an amazing experience learning the Brc course. The instructors were very
                            helpful and very professional. As rider with experiences and crashes I would
                            highly recommend anyone take this course if they have not. This course will open
                            your eyes when ridding and potential save your life!"
                        </div>

                        <div class="fw-bold mt-2">
                            - Kyle
                        </div>
                    </div>
                </div>

                <!-- 2.2 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "Just completed the two day basic rider class. Last time I rode was 37 years
                            ago. I can't recommend this class enough. I learned so much and became more
                            competent. Jim, Ken and Lilian are excellent instructors. Highly recommend."
                        </p>

                        <div class="fw-bold mt-2">
                            - Gulf Firearms Instruction
                        </div>
                    </div>
                </div>

                <!-- 2.3 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "It had been many, many years since I had taken a riding course, so I decided to
                            take the Advanced Rider to brush up on things. It was definitely worth it, and I
                            would recommend it to anyone. Good instructors and a good day on the riding
                            course."
                        </p>

                        <div class="fw-bold mt-2">
                            - Travis
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}