{% block content %}
    <section class="py-5 bg-dark">
        <div class="container">
            <div class="row g-4">
                <!-- 10.1 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <div class="text-dark">
                            "Coaches were great and informative"
                        </div>

                        <div class="fw-bold mt-2">
                            - Barbie
                        </div>
                    </div>
                </div>

                <!-- 10.2 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "Really enjoyed the insight. Great people both Steve and Becky are top notch ."
                        </p>

                        <div class="fw-bold mt-2">
                            - Holmes
                        </div>
                    </div>
                </div>

                <!-- 10.3 -->
                <div class="col-md-4">
                    <div class="p-4 shadow-sm bg-white rounded">
                        <div class="mb-3">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>

                        <p class="text-dark">
                            "Thank you for a great time!! Had so much fun with you guys in the 3 wheel class."
                        </p>

                        <div class="fw-bold mt-2">
                            - Linda
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}