{% extends "client/base.html" %}

{% load get_business_phone %}

{% load get_gui_url %}

{% block schema %}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "LocalBusiness",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Pensacola",
            "addressRegion": "FL",
            "postalCode": "32505",
            "streetAddress": "6385 Pensacola Blvd"
          },
          "description": "Learn to ride or improve your motorcycle skills.",
          "name": "Biker Training LLC",
          "openingHours": [
            "Su-Sa 09:00-19:00"
          ],
          "telephone": "{% get_business_phone False %}",
          "url": "{% get_gui_url %}"
        }
    </script>
{% endblock %}

{% block content %}
    <!-- Hero (Dark) -->
    {% include "client/main/hero.html" %}

    <!-- Courses (Light) -->
    {% include "client/main/courses.html" %}

    <!-- Why Train With Us (Dark) -->
    {% include "client/main/why-us.html" %}

    <!-- Sponsors (Light) -->
    {% include "client/main/sponsors.html" %}

    <!-- Book Now (Dark) -->
    {% include "client/main/book-now.html" %}

    <!-- What Riders Say (Light) -->
    {% include "client/main/what-riders-say.html" %}
{% endblock %}