{% extends "admin/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/form.css' %}">
{% endblock %}

{% load get_form_text %}

{% block content %}
    <div class="mt-3">
        <form method="post">
            {% csrf_token %}

            <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="col-md-12">
                    {% get_form_text label='3WBRC URL - eP1x7-9' name='link_3wbrc' required=True help_text='MSF Unique Link' error_text=form.link_3wbrc.errors value=object.link_3wbrc %}
                </div>

                <div class="col-md-12">
                    {% get_form_text label='BRC URL - eP1x11' name='link_brc' required=True help_text='MSF Unique Link' error_text=form.link_brc.errors value=object.link_brc %}
                </div>

                <div class="col-md-12">
                    {% get_form_text label='SRC URL - SS1' name='link_src' required=True help_text='MSF Unique Link' error_text=form.link_src.errors value=object.link_src %}
                </div>
            </div>

            <button class="px-4 btn btn-outline-success"
                    onclick="document.getElementById('loading').style.display = 'block'"
                    type="submit">
                Update
            </button>
        </form>
    </div>
{% endblock %}