{% block content %}
    <section class="py-5 bg-dark text-white">
        <div class="container">
            <h2 class="fw-bold text-center mb-5">
                Code of Conduct
            </h2>

            <div class="row g-4">
                <div class="col-md-6">
                    <div class="p-4 bg-dark border rounded border-secondary">
                        <h3 class="fw-bold accent fs-4">
                            Respect & Professionalism
                        </h3>

                        <div>
                            Students must treat instructors and fellow riders with respect at all times.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-4 bg-dark border rounded border-secondary">
                        <h3 class="fw-bold accent fs-4">
                            Follow Instructions
                        </h3>

                        <div>
                            All students must follow instructor directions for safety and course flow.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-4 bg-dark border rounded border-secondary">
                        <h3 class="fw-bold accent fs-4">
                            No Reckless Behavior
                        </h3>

                        <div>
                            Unsafe riding, stunts, or horseplay will result in immediate dismissal without refund.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-4 bg-dark border rounded border-secondary">
                        <h3 class="fw-bold accent fs-4">
                            Facility Rules
                        </h3>

                        <div>
                            Students must respect training grounds, equipment, and property at all times.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}