{% block content %}
    <section class="py-5 bg-light">
        <div class="container">
            <h2 class="fw-bold text-center mb-5 fs-4">
                Essential Riding Tips
            </h2>

            <div class="row g-4">
                <div class="col-md-6">
                    <div class="p-4 bg-white shadow rounded">
                        <h3 class="fw-bold accent fs-5">
                            1. Look Where You Want to Go
                        </h3>

                        <div>
                            Your motorcycle follows your eyes — keep your vision up and ahead.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-4 bg-white shadow rounded">
                        <h3 class="fw-bold accent fs-5">
                            2. Smooth Inputs = Smooth Riding
                        </h3>

                        <div>
                            Throttle, clutch, and braking should be controlled and deliberate.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-4 bg-white shadow rounded">
                        <h3 class="fw-bold accent fs-5">
                            3. Master Slow‑Speed Control
                        </h3>

                        <div>
                            Practice tight turns, balance, and clutch‑throttle coordination.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-4 bg-white shadow rounded">
                        <h3 class="fw-bold accent fs-5">
                            4. Always Ride Defensively
                        </h3>

                        <div>
                            Assume other drivers may not see you — stay alert and visible.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-4 bg-white shadow rounded">
                        <h3 class="fw-bold accent fs-5">
                            5. Relax
                        </h3>

                        <div>
                            It doesn't need to be perfect but you do need to maintain full control.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-4 bg-white shadow rounded">
                        <h3 class="fw-bold accent fs-5">
                            6. Have fun
                        </h3>

                        <div>
                            Operating a motorcycle should be enjoyable.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}