{% load static %}

{% block content %}
    <section class="bg-dark text-white py-5">
        <div class="container">
            <div class="row align-items-center g-4">

                <div class="col-md-6 order-md-2 text-center">
                    <img src="{% static '/img/stock/3wbrc-531x354.webp' %}"
                         alt="3-Wheel Basic RiderCourse"
                         width="531"
                         height="354"
                         class="img-fluid rounded shadow">
                </div>

                <div class="col-md-6 order-md-1">
                    <h2 class="fw-bold accent">
                        3-Wheel Basic RiderCourse
                    </h2>

                    <div class="mt-3">
                        ${{ price.amount_3wbrc|slice:":-3" }}
                    </div>

                    <div class="mt-3">
                        Designed for new riders with little or no motorcycle experience who are interested in riding a
                        3-wheeled motorcycle. Learn the basics of throttle control, braking, swerving, and safe riding
                        habits.
                    </div>

                    <ul class="mt-3">
                        <li>
                            2-day course.
                        </li>

                        <li>
                            Must bring your own 3-wheel motorcycle.
                        </li>

                        <li>
                            Motorcycle Safety Foundation (MSF) Completion Card.
                        </li>

                        <li>
                            Motorcycle basics & controls.
                        </li>

                        <li>
                            Slow‑speed maneuvering.
                        </li>

                        <li>
                            Basic cornering & braking.
                        </li>

                        <li>
                            Safety gear & risk awareness.
                        </li>

                        <li>
                            You must be at least 16 years old and have either a valid learners permit or driver's
                            license.
                        </li>
                    </ul>

                    <a href="{% url 'client-schedule-class-type' '3wbrc' %}"
                       class="btn btn-accent text-dark mt-3">
                        <i class="bi bi-check2-circle me-1"></i> Enroll in the 3-Wheel Basic RiderCourse
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}