{% load static %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row align-items-center g-4">
                <div class="col-md-6 text-center">
                    <img src="{% static '/img/stock/brc-531x354.webp' %}"
                         alt="Basic RiderCourse"
                         width="531"
                         height="354"
                         class="img-fluid rounded shadow">
                </div>

                <div class="col-md-6">
                    <h2 class="fw-bold">
                        Basic RiderCourse
                    </h2>

                    <div class="mt-3">
                        ${{ price.amount_brc|slice:":-3" }}
                    </div>

                    <div class="mt-3">
                        Designed for new riders with little or no motorcycle experience. Learn the basics of balance,
                        throttle control, braking, and safe riding habits.
                    </div>

                    <ul class="mt-3">
                        <li>
                            2-day course.
                        </li>

                        <li>
                            Training bike included.
                        </li>

                        <li>
                            Motorcycle Safety Foundation (MSF) Completion Card.
                        </li>

                        <li>
                            Motorcycle basics & controls.
                        </li>

                        <li>
                            Slow‑speed balance & maneuvering.
                        </li>

                        <li>
                            Basic cornering & braking.
                        </li>

                        <li>
                            Safety gear & risk awareness.
                        </li>

                        <li>
                            You must be able to balance and ride a 2-wheeled bicycle and be at least 16 years old and
                            have either a valid learners permit or driver's license.
                        </li>
                    </ul>

                    <a href="{% url 'client-schedule-index' %}"
                       class="btn btn-accent text-dark mt-3">
                        <i class="bi bi-check2-circle me-1"></i> Enroll in the Basic RiderCourse
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}