{% block content %}
    <section class="py-5 bg-dark">
        <div class="container">
            <h3 class="fw-bold accent text-center mb-4 fs-2">
                Find Us
            </h3>

            <div class="ratio ratio-16x9 shadow rounded">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3438.483656480246!2d-87.25672752355953!3d30.479059974707578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8890bfc8ff1757f1%3A0x3fbb458075146bc2!2s6385%20Pensacola%20Blvd%2C%20Pensacola%2C%20FL%2032505!5e0!3m2!1sen!2sus!4v1778939573629!5m2!1sen!2sus"
                        style="border:0;"
                        title="Location"
                        allowfullscreen
                        loading="lazy">
                </iframe>
            </div>
        </div>
    </section>
{% endblock %}