{% extends "admin/auth.html" %}

{% load static %}

{% load get_form_password %}

{% load get_form_text %}

{% block script %}
    <script>
        function toggleButton() {
            const submit_button = document.getElementById("submit_button");

            const submit_processing = document.getElementById("submit_processing");

            if (submit_button) {
                submit_button.style.display = "none"; // Hide the button
                submit_processing.style.display = "inline-block"; // Show the button
            } else {
                submit_processing.style.display = "none"; // Hide the button
                submit_button.style.display = "inline-block"; // Show the button
            }
        }
    </script>
{% endblock %}

{% block content %}
    <!-- Login -->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="p-4 bg-white shadow rounded">
                        <h2 class="text-center mb-3">
                            <a href="{% url 'client-main-index' %}">
                                <img src="{% static '/img/bikertraining/logo_llc_color.webp' %}"
                                     alt="Login"
                                     width="255"
                                     height="100"
                                     loading="eager"/>
                            </a>
                        </h2>

                        <form method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                {% get_form_text label='Username' name='username' required=True error_text=form.username.errors value=form.username.value|default:'' %}
                            </div>

                            <div class="mb-3">
                                {% get_form_password label='Password' name='password' required=True error_text=form.password.errors value=form.password.value|default:'' %}
                            </div>

                            <button class="w-100 btn btn-accent btn-lg"
                                    type="submit"
                                    id="submit_button"
                                    onclick="toggleButton()">
                                <i class="bi bi-check2-circle me-1"></i> Login
                            </button>

                            <button class="w-100 btn btn-primary btn-lg"
                                    type="button"
                                    id="submit_processing"
                                    style="display: none;"
                                    disabled>
                                <span class="spinner-border spinner-border-sm"
                                      role="status"
                                      aria-hidden="true">
                                </span>
                                Processing, please wait...
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}