{% extends "client/base.html" %}

{% load get_business_email %}

{% load get_business_phone %}

{% block content %}
    <h1 class="fs-4 mt-3">
        <i class="bi bi-bicycle"></i>
        Payment Confirmation
    </h1>

    <div class="mt-3">
        Thank you for your payment.
    </div>

    {% if class_type != 'src' %}
        <div class="mt-3">
            Please complete the ePackage-1 eCourse prior to the first day of class. Please check your email confirmation
            for a unique link. You can also use the button below to begin the registration process for the ePackage-1
            eCourse.
        </div>
    {% endif %}

    {% if class_type == '3wbrc' %}
        <div class="mt-3">
            <a class="btn btn-lg btn-success mb-3"
               href="{% url 'client-ecourse-index' '3wbrc' %}">
                <i class="bi bi-link-45deg"></i>
                Click here to begin the ePackage-1 eCourse
            </a>
        </div>
    {% endif %}

    {% if class_type == 'brc' %}
        <div class="mt-3">
            <a class="btn btn-lg btn-success mb-3"
               href="{% url 'client-ecourse-index' 'brc' %}">
                <i class="bi bi-link-45deg"></i>
                Click here to begin the ePackage-1 eCourse
            </a>
        </div>
    {% endif %}

    <div class="fw-bold mt-2">
        REFUND / CANCELLATION POLICY
    </div>

    <div class="mt-2">
        When enrolling, you are purchasing a seat in the class of your choice. Once purchased, that seat is set aside
        for only your use. Please select the date that will ensure you can attend each day for the times indicated. You
        must attend all class/range sessions.
    </div>

    <div class="mt-2">
        <span class="fw-bold">Cancellation:</span>

        All fees are nonrefundable unless students call

        <a class="text-decoration-none"
           href="tel:{% get_business_phone True %}">
            {% get_business_phone False %}
        </a>

        or email

        <a href="mailto: {% get_business_email %}"
           class="text-decoration-none">
            {% get_business_email %}
        </a>

        6 days prior to their scheduled class to obtain a partial refund. A partial refund is full tuition minus a
        ${{ process_amount }} processing fee.
    </div>

    <div class="mt-2">
        There is a minimum of four students per class. If minimum is not met, student will have the option to move to
        any future class or receive a full refund.
    </div>

    <div class="mt-2">
        <span class="fw-bold">Postponement:</span>

        There is no charge for postponement provided the student calls or emails at least 48 hours prior to the start of
        their scheduled class. If less than 48 hours prior or if a student does not complete the entire class, a seat in
        a subsequent class may be purchased.
    </div>

    <div class="mt-2">
        <span class="fw-bold">Late Arrivals:</span>

        Learning to ride a motorcycle requires skill progression. This progression begins with small tasks and builds to
        larger, more complex tasks. It is critical that students arrive on time. Preferably, come early! If you miss a
        class or range session, you will not be allowed to complete the course and will have to purchase another seat in
        a later class.
    </div>

    {% if class_type != 'src' %}
        <div class="mt-2">
            <span class="fw-bold">eCourse:</span>

            The eCourse is a national requirement for motorcycle training. You will be emailed a unique link to complete
            the eCourse before attending class.
        </div>
    {% endif %}
{% endblock %}