{% extends "client/base.html" %}

{% load get_business_phone %}

{% block content %}
    <!-- Hero (Dark) -->
    <section class="bg-dark text-white">
        <div class="container py-3">
            <h1 class="fw-bold fs-3">
                Pensacola Harley-Davidson
            </h1>

            <div class="lead mt-3">
                If you are not sure, please call us at

                <a href="tel:{% get_business_phone True %}"
                   class="text-decoration-none">
                    {% get_business_phone False %}
                </a>
            </div>
        </div>
    </section>

    <!-- Payment Links (Light) -->
    <section class="py-5 bg-light">
        <div class="container">
            <h2 class="fw-bold text-center fs-4">
                Choose Your Class
            </h2>

            <div class="row g-4 mt-1">
                <div class="col-md-4">
                    <div class="p-4 bg-white shadow rounded resource-card">
                        <h3 class="fw-bold fs-4">
                            Basic RiderCourse
                        </h3>

                        <div class="mb-3">
                            Students enrolled in the Basic RiderCourse via Pensacola Harley-Davidson.
                        </div>

                        <a href="{% url 'client-payment-class-type' 'brc' %}"
                           class="btn btn-accent btn-md text-dark fw-bold">
                            <i class="bi bi-link-45deg me-1"></i> Pay Online Now
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="p-4 bg-white shadow rounded resource-card">
                        <h3 class="fw-bold fs-4">
                            3-Wheel Basic RiderCourse
                        </h3>

                        <div class="mb-3">
                            Students enrolled in the 3-Wheel Basic RiderCourse via Pensacola Harley-Davidson.
                        </div>

                        <a href="{% url 'client-payment-class-type' '3wbrc' %}"
                           class="btn btn-accent btn-md text-dark fw-bold">
                            <i class="bi bi-link-45deg me-1"></i> Pay Online Now
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="p-4 bg-white shadow rounded resource-card">
                        <h3 class="fw-bold fs-4">
                            Skilled RiderCourse
                        </h3>

                        <div class="mb-3">
                            Students enrolled in the Skilled RiderCourse via Pensacola Harley-Davidson.
                        </div>

                        <a href="{% url 'client-payment-class-type' 'src' %}"
                           class="btn btn-accent btn-md text-dark fw-bold">
                            <i class="bi bi-link-45deg me-1"></i> Pay Online Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}