{% extends "client/base.html" %}

{% load get_business_phone %}

{% block content %}
    <h1 class="text-center fs-4 mt-3">
        Please choose a class type:
    </h1>

    <div class="fs-3 fw-bold mt-5 mb-3 text-center">
        <a class="btn btn-lg btn-success mb-3"
           href="{% url 'client-payment-class-type' 'brc' %}">
            <i class="bi bi-link-45deg"></i>
            Basic RiderCourse
        </a>
    </div>

    <div class="fs-3 fw-bold mb-3 text-center">
        <a class="btn btn-lg btn-success mb-3"
           href="{% url 'client-payment-class-type' '3wbrc' %}">
            <i class="bi bi-link-45deg"></i>
            3-Wheel Basic RiderCourse
        </a>
    </div>

    <div class="fs-3 fw-bold text-center">
        <a class="btn btn-lg btn-success mb-3"
           href="{% url 'client-payment-class-type' 'src' %}">
            <i class="bi bi-link-45deg"></i>
            Skilled RiderCourse
        </a>
    </div>

    <div class="fs-4 fw-bold text-center mt-3">
        If you are not sure, please call us at

        <a class="text-decoration-none"
           href="tel:{% get_business_phone True %}">
            {% get_business_phone False %}
        </a>
    </div>
{% endblock %}