{% block content %}
    <section class="py-5 bg-dark text-white">
        <div class="container">
            <div class="fw-bold text-center mb-5 fs-3">
                Location & Important Notes
            </div>

            <div class="row g-4">
                <div class="col-md-6">
                    <div class="accent fw-bold fs-4">
                        Training Location
                    </div>

                    <div>
                        6385 Pensacola Blvd
                    </div>

                    <div>
                        Pensacola, Florida, 32505
                    </div>

                    <div class="ratio ratio-16x9 shadow rounded mt-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3438.483656480246!2d-87.25672752355953!3d30.479059974707578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8890bfc8ff1757f1%3A0x3fbb458075146bc2!2s6385%20Pensacola%20Blvd%2C%20Pensacola%2C%20FL%2032505!5e0!3m2!1sen!2sus!4v1778939573629!5m2!1sen!2sus"
                                style="border:0;"
                                title="Location"
                                allowfullscreen
                                loading="lazy">
                        </iframe>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="accent fw-bold fs-4">
                        Before You Arrive
                    </div>

                    <ul class="mt-3">
                        <li>
                            Arrive 15 minutes early
                        </li>

                        <li>
                            <span class="fw-bold">Over the ankle sturdy footwear.</span> It is required to wear shoes
                            that fully cover your ankle. Shoes or boots with a large heel or steel toe make it
                            increasingly difficult to shift, especially for women.
                        </li>

                        <li>
                            Long pants made out of sturdy materials. No spandex or sweatpants.
                        </li>

                        <li>
                            Long sleeve shirt or jacket. Light colors work best when it's hot outside.
                        </li>

                        <li>
                            <span class="fw-bold">Full fingered</span> gloves.
                        </li>

                        <li>
                            <span class="fw-bold">D.O.T</span> helmet. Can be any type of helmet so long as it meets the
                            D.O.T standards.
                        </li>

                        <li>
                            Eye protection. Prescription glasses and sun glasses are considered eye protection for the
                            purpose of this course. A helmet visor also meets the requirements.
                        </li>

                        <li>
                            As it may rain, it's recommended to have motorcycle rain gear or consider bringing a change
                            of clothes.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}