<footer class="footer mt-auto py-3 bg-dark w-100 bottom-0 d-print-none">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link px-2"
                   href="{% url 'client-schedule-index' %}">
                    Schedule
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link px-2"
                   href="{% url 'client-courses-index' %}">
                    Courses
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link px-2"
                   href="{% url 'client-faq-index' %}">
                    FAQs
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link px-2"
                   href="{% url 'client-contact-index' %}">
                    Contact Us
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link px-2"
                   href="{% url 'client-team-index' %}">
                    Join our Team
                </a>
            </li>
        </ul>

        <div class="mt-3 text-center text-white">
            &copy; {% now "Y" %} Biker Training LLC
        </div>

        <ul class="nav justify-content-center mt-3">
            <li class="nav-item">
                <a class="nav-link px-2"
                   href="{% url 'client-legal-privacy' %}">
                    Privacy Policy
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link px-2"
                   href="{% url 'client-legal-tos' %}">
                    Terms of Service
                </a>
            </li>
        </ul>
    </div>
</footer>