{% load static %}

{% load get_business_phone %}

{% load get_facebook_url %}

{% load get_instagram_url %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 sticky-top d-print-none">
    <div class="container">
        <!-- Logo - Mobile -->
        <a href="{% url 'client-main-index' %}"
           class="navbar-brand fw-bold d-lg-none">
            <span class="accent">Biker</span> Training
        </a>

        <!-- Logo - Desktop -->
        <a href="{% url 'client-main-index' %}"
           class="navbar-brand d-none d-lg-block">
            <img src="{% static '/img/bikertraining/logo_color_white.webp' %}"
                 alt="Biker Training LLC"
                 width="255"
                 height="100"
                 class="inline-block img-fluid"
                 loading="eager"/>
        </a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNav"
                aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav Links -->
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item d-lg-none">
                    <a href="{% url 'client-schedule-index' %}"
                       class="nav-link"
                       aria-label="Schedule">
                        <i class="bi bi-calendar3 me-1"></i> Schedule
                    </a>
                </li>

                <li class="nav-item d-none d-lg-block">
                    <a href="{% url 'client-schedule-index' %}"
                       class="nav-link"
                       aria-label="Schedule">
                        <span type="button"
                              class="badge rounded-pill btn-accent text-dark">
                            <i class="bi bi-check2-circle me-1"></i> Enroll Now
                        </span>
                    </a>
                </li>

                <li class="nav-item d-lg-none">
                    <a href="{% url 'client-courses-index' %}"
                       class="nav-link"
                       aria-label="Courses">
                        <i class="bi bi-mortarboard-fill me-1"></i> Courses
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'client-faq-index' %}"
                       class="nav-link"
                       aria-label="Frequently Asked Questions">
                        <i class="bi bi-patch-question me-1"></i> Frequently Asked Questions
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'client-resources-index' %}"
                       class="nav-link"
                       aria-label="Student Resources">
                        <i class="bi bi-book me-1"></i> Student Resources
                    </a>
                </li>

                <li class="nav-item">
                    <a href="tel:{% get_business_phone True %}"
                       class="nav-link"
                       aria-label="Phone Number {% get_business_phone False %}">
                        <i class="bi bi-telephone-fill me-1"></i> {% get_business_phone False %}
                    </a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'admin-schedule-index' %}"
                           class="nav-link text-danger">
                            <i class="bi bi-incognito me-1"></i> Admin
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>