{% extends "admin/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/form.css' %}">
{% endblock %}

{% load get_form_select %}

{% load get_form_switch %}

{% load get_form_text %}

{% block content %}
    <div class="mt-3">
        <div class="d-inline-flex">
            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6">
                        {% get_form_text label='Name' name='name' required=True error_text=form.name.errors value=form.name.value|default:'' %}
                    </div>

                    <div class="col-md-6">
                        {% get_form_select label='Class Type' name='class_type' required=True options=form.fields.class_type.choices error_text=form.class_type.errors value=form.class_type.value|default:'' %}
                    </div>

                    <div class="col-md-6 mt-3">
                        {% get_form_text label='Amount' name='amount' required=True error_text=form.amount.errors value=form.amount.value|default:'' %}
                    </div>

                    <div class="col-md-6 mt-3">
                        {% get_form_switch label='Active' name='is_active' value=False %}

                        <div class="mt-3">
                            {% get_form_switch label='One Time Use' name='one_time_use' value=False %}
                        </div>
                    </div>
                </div>

                <button class="px-4 btn btn-outline-success"
                        onclick="document.getElementById('loading').style.display = 'block'"
                        type="submit">
                    Create
                </button>
            </form>
        </div>
    </div>
{% endblock %}
