<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title></title>

    <!--[if mso]>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript><![endif]-->
</head>

<body>
<table style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%;">
    <tbody>
    <tr style="background-color: #DDDDDD; color: #000000;">
        <td style="text-align: left; padding: 8px; font-weight: bold;">WAIT LIST ONLY</td>
    </tr>

    <tr style="background-color: #FFFFFF;">
        <td style="text-align: left; padding: 8px;">The class was full when the student tried to register. If a coupon
            code was used and is a one-time-use, it has not been removed and will need to be manually deleted. The
            coupon code will also not be deducted from the price of class. Credit Card details have been removed.
        </td>
    </tr>

    <tr style="background-color: #DDDDDD; color: #000000;">
        <td style="text-align: left; padding: 8px; font-weight: bold;">Name</td>
    </tr>

    <tr style="background-color: #FFFFFF;">
        <td style="text-align: left; padding: 8px;">{{ first_name }} {{ last_name }}
            {% if suffix != '' %}{{ suffix }}{% endif %}</td>
    </tr>

    <tr style="background-color: #DDDDDD; color: #000000;">
        <td style="text-align: left; padding: 8px; font-weight: bold;">Address</td>
    </tr>

    <tr style="background-color: #FFFFFF;">
        <td style="text-align: left; padding: 8px;">
            {{ address }}<br> {{ city }}, {{ state }} {{ zipcode }}
        </td>
    </tr>

    <tr style="background-color: #DDDDDD; color: #000000;">
        <td style="text-align: left; padding: 8px; font-weight: bold;">Phone</td>
    </tr>

    <tr style="background-color: #FFFFFF;">
        <td style="text-align: left; padding: 8px;">{{ phone }}</td>
    </tr>

    <tr style="background-color: #DDDDDD; color: #000000;">
        <td style="text-align: left; padding: 8px; font-weight: bold;">Email</td>
    </tr>

    <tr style="background-color: #FFFFFF;">
        <td style="text-align: left; padding: 8px;">{{ email }}</td>
    </tr>

    <tr style="background-color: #DDDDDD; color: #000000;">
        <td style="text-align: left; padding: 8px; font-weight: bold;">Drivers License Number</td>
    </tr>

    <tr style="background-color: #FFFFFF;">
        <td style="text-align: left; padding: 8px;">{{ dln }}</td>
    </tr>

    <tr style="background-color: #DDDDDD; color: #000000;">
        <td style="text-align: left; padding: 8px; font-weight: bold;">Date of Birth</td>
    </tr>

    <tr style="background-color: #FFFFFF;">
        <td style="text-align: left; padding: 8px;">{{ dob }}</td>
    </tr>

    <tr style="background-color: #DDDDDD; color: #000000;">
        <td style="text-align: left; padding: 8px; font-weight: bold;">License State of Issue</td>
    </tr>

    <tr style="background-color: #FFFFFF;">
        <td style="text-align: left; padding: 8px;">{{ dls }}</td>
    </tr>

    <tr style="background-color: #DDDDDD; color: #000000;">
        <td style="text-align: left; padding: 8px; font-weight: bold;">Class Schedule</td>
    </tr>

    <tr style="background-color: #FFFFFF;">
        <td style="text-align: left; padding: 8px;">
            {{ schedule }} ({{ schedule_day }})<br> {{ class_type }} - ${{ amount }}
        </td>
    </tr>

    {% if coupon_code != '' %}
    <tr style="background-color: #DDDDDD; color: #000000;">
        <td style="text-align: left; padding: 8px; font-weight: bold;">Coupon Code</td>
    </tr>

    <tr style="background-color: #FFFFFF;">
        <td style="text-align: left; padding: 8px;">
            {{ coupon_code }}
        </td>
    </tr>
    {% endif %}

    <tr style="background-color: #DDDDDD; color: #000000;">
        <td style="text-align: left; padding: 8px; font-weight: bold;">Experience</td>
    </tr>

    <tr style="background-color: #FFFFFF;">
        <td style="text-align: left; padding: 8px;">{{ xpl }}</td>
    </tr>

    {% if comment != '' %}
        <tr style="background-color: #DDDDDD; color: #000000;">
            <td style="text-align: left; padding: 8px; font-weight: bold;">Comments</td>
        </tr>

        <tr style="background-color: #FFFFFF;">
            <td style="text-align: left; padding: 8px;">{{ comment }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>

</body>
</html>