{% extends "admin/base.html" %}

{% load static %}

{% load get_form_select %}

{% load get_form_select_seat %}

{% load get_form_text %}

{% block css %}
    <link href="{% static '/css/form.css' %}"
          rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css"
          rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js">
    </script>

    <script>
        const date_from = document.querySelector('input[name="date_from"]');
        const date_from_datepicker = new Datepicker(date_from, {
            autohide: true,
            format: 'yyyy-mm-dd',
            todayHighlight: true
        });

        const date_to = document.querySelector('input[name="date_to"]');
        const date_to_datepicker = new Datepicker(date_to, {
            autohide: true,
            format: 'yyyy-mm-dd',
            todayHighlight: true
        });
    </script>

    <script>
        function toggleButton() {
            const submit_button = document.getElementById("submit_button");

            const submit_processing = document.getElementById("submit_processing");

            if (submit_button) {
                submit_button.style.display = "none"; // Hide the button
                submit_processing.style.display = "inline-block"; // Show the button
            } else {
                submit_processing.style.display = "none"; // Hide the button
                submit_button.style.display = "inline-block"; // Show the button
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <div class="h3 mb-3 fs-4">
                            <i class="bi bi-pencil-square me-1"></i> Create Schedule
                        </div>

                        <form method="post">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md-12">
                                    {% get_form_select label='Class Type' name='price' required=True options=form.fields.price.choices error_text=form.price.errors value=object.price.class_type %}
                                </div>

                                <div class="col-md-12">
                                    {% get_form_select label='Day Type' name='day_type' required=True options=form.fields.day_type.choices error_text=form.day_type.errors value=object.day_type %}
                                </div>

                                <div class="col-md-12">
                                    {% get_form_text label='Starting Date' name='date_from' help_text='YYYY-MM-DD' required=True error_text=form.date_from.errors value=object.date_from %}
                                </div>

                                <div class="col-md-12">
                                    {% get_form_text label='Ending Date' name='date_to' help_text='YYYY-MM-DD' required=True error_text=form.date_to.errors value=object.date_to %}
                                </div>

                                <div class="col-md-12">
                                    {% get_form_select_seat label='Seats' name='seats' required=True error_text=form.seats.errors value=object.seats %}
                                </div>
                            </div>

                            <button class="w-100 btn btn-primary btn-lg mt-3"
                                    type="submit"
                                    id="submit_button"
                                    onclick="toggleButton()">
                                <i class="bi bi-check2-circle me-1"></i> Create Schedule
                            </button>

                            <button class="w-100 btn btn-primary btn-lg mt-3"
                                    type="button"
                                    id="submit_processing"
                                    style="display: none;"
                                    disabled>
                                <span class="spinner-border spinner-border-sm"
                                      role="status"
                                      aria-hidden="true">
                                </span>
                                Processing, please wait...
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}