{% extends "client/base.html" %}

{% block content %}
    <section class="bg-dark text-white">
        <div class="container py-3">
            <h1 class="fw-bold fs-3">
                Thank you for reaching out to us!
            </h1>
        </div>
    </section>

    <section class="py-5 bg-light">
        <div class="container">
            <div class="mb-3">
                We will reply to your message as soon as we can.
            </div>

            <div>
                In the meantime, our

                <a href="{% url 'client-team-faq' %}"
                   class="text-decoration-none">
                    RiderCoach Frequently Asked Questions
                </a>

                can answer most questions.
            </div>
        </div>
    </section>
{% endblock %}