{% extends "client/base.html" %}

{% load static %}

{% block css %}
    <link href="{% static '/css/accordion.css' %}"
          rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Hero (Dark) -->
    {% include 'client/team/hero.html' %}

    <!-- FAQ -->
    <section class="py-3">
        <div class="container">
            <div class="accordion" id="accordionFaq">
                <!-- What are the requirements to become a RiderCoach? -->
                {% include 'client/team/faq1.html' %}

                <!-- RiderCoach Prep Course (RCP) -->
                {% include 'client/team/faq2.html' %}

                <!-- What information will I be required to know? -->
                {% include 'client/team/faq3.html' %}

                <!-- What is Demo Boot Camp? -->
                {% include 'client/team/faq4.html' %}

                <!-- What type of equipment am I required to bring? -->
                {% include 'client/team/faq5.html' %}

                <!-- I have a job already but would like to do this part time -->
                {% include 'client/team/faq6.html' %}

                <!-- How long does it normally take to become a RiderCoach? -->
                {% include 'client/team/faq7.html' %}

                <!-- Are there any costs involved? -->
                {% include 'client/team/faq8.html' %}

                <!-- I'm already a certified MSF RiderCoach -->
                {% include 'client/team/faq9.html' %}

                <!-- Do we get paid? -->
                {% include 'client/team/faq10.html' %}

                <!-- I have more questions! -->
                {% include 'client/team/faq11.html' %}
            </div>
        </div>
    </section>
{% endblock %}