{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq1"
                    aria-expanded="true"
                    aria-controls="faq1">
                What are the requirements to become a RiderCoach?
            </button>
        </h2>

        <div id="faq1"
             class="accordion-collapse collapse show"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                To become a RiderCoach:

                <ul class="list-group list-group-numbered mt-3">
                    <li class="list-group-item border-0">
                        Be at least 18 years of age.
                    </li>

                    <li class="list-group-item border-0">
                        Have a motorcycle license or endorsement.
                    </li>

                    <li class="list-group-item border-0">
                        Have a good driving record.
                    </li>

                    <li class="list-group-item border-0">
                        Have no criminal history.
                    </li>

                    <li class="list-group-item border-0">
                        Ride a registered and insured motorcycle frequently on the street.
                    </li>

                    <li class="list-group-item border-0">
                        Good communication skills.
                    </li>

                    <li class="list-group-item border-0">
                        Sincere desire to help others.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}