{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq2"
                    aria-expanded="false"
                    aria-controls="faq2">
                RiderCoach Prep Course (RCP)
            </button>
        </h2>

        <div id="faq2"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                All RiderCoach candidates must complete an RCP (RiderCoach Prep Course). These are sponsored by
                the State of Florida and are held several times of the year. The RCP is normally a week long for
                8 hours each day. The last 2 days of class you'll teach a class with real students. After
                completion of the RCP you'll be certified to teach the MSF (Motorcycle Safety Foundation) BRC
                (Basic RiderCourse).
            </div>
        </div>
    </div>
{% endblock %}