{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq3"
                    aria-expanded="false"
                    aria-controls="faq3">
                What information will I be required to know?
            </button>
        </h2>

        <div id="faq3"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                <div>
                    All training to prepare you for the RCP will be done by Biker Training LLC
                </div>

                <div class="mt-3">
                    Here is a list of what you can expect to learn:
                </div>

                <ul class="list-group list-group-numbered mt-3">
                    <li class="list-group-item border-0">
                        How to set up the range; cone placement, motorcycle positioning for the start of class, setup
                        rest area for students.
                    </li>

                    <li class="list-group-item border-0">
                        Motorcycle demonstrations. This shows the proper path of travel, speed, and ease of use.
                    </li>

                    <li class="list-group-item border-0">
                        How to set up the classroom; Reading material for students and computer for presentation
                        materials.
                    </li>

                    <li class="list-group-item border-0">
                        Classroom facilitation.
                    </li>

                    <li class="list-group-item border-0">
                        Dealer activities to help students find the proper gear and motorcycle fit.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}