{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq4"
                    aria-expanded="false"
                    aria-controls="faq4">
                What is Demo Boot Camp?
            </button>
        </h2>

        <div id="faq4"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                <div>
                    Demo Boot Camp is a 2-day course that all RiderCoach Candidates must complete before being
                    allowed to ride demonstrations in front of students.
                </div>

                <div class="mt-3">
                    This will prepare you to learn the proper path of travel, proper speed, and smoothness of how a
                    demonstration should look like.
                </div>

                <div class="mt-3">
                    We will also cover how to properly set up the range for each exercise with proper cone placement
                    and how to coordinate the color of cones to help students with the proper path of travel.
                </div>
            </div>
        </div>
    </div>
{% endblock %}