{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq6"
                    aria-expanded="false"
                    aria-controls="faq6">
                I have a job already but would like to do this part time
            </button>
        </h2>

        <div id="faq6"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                Have a job already? No problem! Most RiderCoaches have normal jobs already and we can work around
                your schedule.
            </div>
        </div>
    </div>
{% endblock %}