{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq7"
                    aria-expanded="false"
                    aria-controls="faq7">
                How long does it normally take to become a RiderCoach?
            </button>
        </h2>

        <div id="faq7"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                This depends on how much time you are willing to put into the curriculum. However, the typical candidate
                will normally take 3 to 6 months.
            </div>
        </div>
    </div>
{% endblock %}