{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq8"
                    aria-expanded="false"
                    aria-controls="faq8">
                Are there any costs involved?
            </button>
        </h2>

        <div id="faq8"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                All training materials are paid for by Biker Training LLC. You may need to travel to attend an RCP
                which can last from 7 to 10 days depending on the schedule. Travel costs are your obligation and not
                Biker Training LLC. This includes such things like hotel, fuel, and food.
            </div>
        </div>
    </div>
{% endblock %}