{% block content %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq9"
                    aria-expanded="false"
                    aria-controls="faq9">
                I'm already a certified MSF RiderCoach
            </button>
        </h2>

        <div id="faq9"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                <div>
                    If you are certified by another state we can help you with the required paperwork to get you into
                    the FRTP program (Florida Rider Training Program). This is a simple process!
                </div>

                <div class="=mt-3">
                    FRTP paperwork is required to teach in the State of Florida as well as attending an FRTP sponsored
                    update.
                </div>
            </div>
        </div>
    </div>
{% endblock %}