{% block content %}
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row g-4 text-center">
                <div class="col-md-12">
                    <h4 class="fw-bold">
                        <i class="bi bi-info-circle me-1"></i> Get started on your next adventure!
                    </h4>

                    <div>
                        Read the

                        <a href="{% url 'client-team-faq' %}"
                           class="text-decoration-none">
                            RiderCoach Frequently Asked Questions
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}