{% extends "client/base.html" %}

{% load static %}

{% load get_gui_url %}

{% block schema %}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Biker Training LLC",
          "url": "{% get_gui_url %}",
          "department": {
            "@type": "Organization",
            "name": "Instructor Team",
            "member": [
              {
                "@type": "Person",
                "name": "Lead Instructor",
                "jobTitle": "Motorcycle Safety Instructor"
              },
              {
                "@type": "Person",
                "name": "Assistant Instructor",
                "jobTitle": "Motorcycle Training Coach"
              }
            ]
          }
        }
    </script>
{% endblock %}

{% block css %}
    <link href="{% static '/css/form.css' %}"
          rel="stylesheet">
{% endblock %}

{% block script %}
    <script type="application/javascript">
        function getIP(json) {
            document.getElementById('ipaddress').value = json.ip;
        }
    </script>

    <script src="https://api.ipify.org?format=jsonp&callback=getIP"
            type="application/javascript">
    </script>

    <script>
        function toggleButton() {
            const submit_button = document.getElementById("submit_button");

            const submit_processing = document.getElementById("submit_processing");

            if (submit_button) {
                submit_button.style.display = "none"; // Hide the button
                submit_processing.style.display = "inline-block"; // Show the button
            } else {
                submit_processing.style.display = "none"; // Hide the button
                submit_button.style.display = "inline-block"; // Show the button
            }
        }
    </script>
{% endblock %}

{% block content %}
    <!-- Hero (Dark) -->
    {% include 'client/team/hero.html' %}

    <!-- Header (Light) -->
    {% include 'client/team/header.html' %}

    <!-- Form (Light) -->
    {% include 'client/team/form.html' %}
{% endblock %}