{% extends "admin/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/form.css' %}">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.10.0/dist/css/bootstrap-datepicker3.min.css"
          integrity="sha256-bZRrQVK1rYvxccX8WACyWguD6Ba0h4h/Qs6vmJP2Pws=" crossorigin="anonymous">
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.10.0/dist/js/bootstrap-datepicker.min.js"
            integrity="sha256-iZp9dyOMJKPFdn1UMra9ZMhPZAlSGZUzdhqqEgijE+Q=" crossorigin="anonymous"></script>
{% endblock %}

{% block javascript %}
    <script>
        $('#date_to').datepicker(
            {
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            }
        );

        $('#frtp_date_from').datepicker(
            {
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            }
        );
    </script>
{% endblock %}

{% load get_form_select_state %}

{% load get_form_switch %}

{% load get_form_text %}

{% block content %}
    <div class="mt-3">
        <div class="d-inline-flex">
            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6">
                        {% get_form_text label='Name' name='name' required=True error_text=form.name.errors value=object.name %}
                    </div>

                    <div class="col-md-6">
                        {% get_form_text label='Address' name='address' required=True error_text=form.address.errors value=object.address %}
                    </div>

                    <div class="col-md-4">
                        {% get_form_text label='City' name='city' required=True error_text=form.city.errors value=object.city %}
                    </div>

                    <div class="col-md-4">
                        {% get_form_select_state label='State' name='state' required=True error_text=form.state.errors value=object.state %}
                    </div>

                    <div class="col-md-4">
                        {% get_form_text label='Zipcode' name='zipcode' required=True error_text=form.zipcode.errors value=object.zipcode %}
                    </div>

                    <div class="col-md-6">
                        {% get_form_text label='Email' name='email' required=True error_text=form.email.errors value=object.email %}
                    </div>

                    <div class="col-md-6">
                        {% get_form_text label='Phone' name='phone' required=True error_text=form.phone.errors value=object.phone %}
                    </div>

                    <div class="col-md-4">
                        {% get_form_text label='MSF ID' name='msf_id' required=True error_text=form.msf_id.errors value=object.msf_id %}
                    </div>

                    <div class="col-md-4">
                        {% get_form_text label='MSF Expiration Date' name='date_to' required=True help_text='YYYY-MM-DD' error_text=form.date_to.errors value=object.date_to %}
                    </div>

                    <div class="col-md-4">
                        {% get_form_text label='FRTP Update Date' name='frtp_date_from' required=True help_text='YYYY-MM-DD' error_text=form.frtp_date_from.errors value=object.frtp_date_from %}
                    </div>

                    <div class="col-md-1">
                        {% get_form_switch label='Active' name='is_active' value=object.is_active %}
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <button class="px-4 btn btn-outline-success mt-3"
                            onclick="document.getElementById('loading').style.display = 'block'"
                            type="submit">
                        Update
                    </button>

                    <button class="px-4 btn btn-danger mt-3"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal"
                            type="button">
                        <i class="bi bi-trash3"></i>
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>

    <form action="{% url 'admin-coach-delete' object.id %}"
          method="post">
        {% csrf_token %}
        <div aria-hidden="true"
             aria-labelledby="deleteModalLabel"
             class="modal fade"
             id="deleteModal"
             tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5"
                            id="deleteModalLabel">
                            <i class="bi bi-exclamation-triangle text-danger"></i>
                            Warning
                        </h1>

                        <button aria-label="Close"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                type="button">
                        </button>
                    </div>

                    <div class="modal-body">
                        Continuing will remove this coach.
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                type="button">
                            <i class="bi bi-x"></i>
                            Close
                        </button>

                        <button class="btn btn-danger"
                                onclick="document.getElementById('loading').style.display = 'block'"
                                type="submit">
                            <i class="bi bi-trash3"></i>
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}